@font-face {
    font-family: "Aligarh-SemiBold";
    src: url(/font/Aligarh-SemiBold.woff);
  }

  @font-face {
    font-family:"Mart" ;
    src: url(/font/Mart.ttf);
  
  }

  @font-face {
    font-family:"Romely Medium" ;
    src: url(/font/Romely\ Medium.ttf);
  
  }


