*{
    margin: 0px;
    padding: 0px;
}



  
body{
    background-color: #e8e6da;
    display: flex;
    flex-direction: column;  
    height:100vh; 
} 


.header{
    width: 100%;
    height:5%;
    font-family: Aligarh-SemiBold;
    font-size:60px;
    padding:20px;
}

.hepsi{
    width: 100%;
    height:70%;
    display:flex;
}

.icon{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.icon>ul li{
    list-style-type: none;
    padding:15px;
    color:#382e2c;

    
}

.icon>ul>li a{
    text-decoration:none;
    font-size:30px;
}


.picture{
  
    width:20%;
    display:flex;
    justify-content: center;
}


.picture>img{
    width: 100%;
    height:100%;
    border-radius: 45%;
    align-self: center;
}


.section{
    width: 70%;
}




.small-img{
    padding-left:10px;
    padding-right:10px;
    
}


.small-img>img {
    width:80px;
    height:80px;
    border-radius: 50%;

}

.a{
    display:flex;
    font-size: 40px;
    justify-content: center;
    height:75px;
    padding-top:15px; 
    font-family:Romely Medium ;

}


.b{
    padding-top:20px;
    font-size: 50px;
}

.c{
    font-size: 50px;
    padding-top:20px;
    color:#c6975c;
    
}




.d{
    display:flex;
    font-size: 50px;
    flex-direction: column;
    align-items:center;
    font-family:Romely Medium ;
}


.e{

margin:20px;
font-size: 50px;
    
}


.section>.article{
    display:flex;
    justify-content: space-evenly;
    
}

.article>p{
    width: 300px;
    height: 350px;
    font-size: 20px;
    margin:20px;
    color:#382e2c;
    font-family: Mart;
}




.section>.article>.button{
height:100px;
width: 350px;
display:flex;
align-items: center;
background-color: rgba(224,221,209,255);
justify-content: center;
border-radius: 20px;
align-self:center;
font-family: Mart;


}


.navbar{
  
    display: flex;
    align-items: center;
    margin-top:40px;
    border-top:3px solid black;
    border-bottom:3px solid black;
    padding:20px;

}


.left p{
    font-size: 24px;
    text-align: center;



}
.left{
    border-right:3px solid black;
    font-family: Mart;
   
    margin-left:35px;
    display: flex;
    justify-content: center;
}


.center{
    width: 60%;
    font-family: Mart;
}


.right{
    width: 15%;
    height: 100%;
    padding-left:10px;
    font-size:24px;
    border-left:3px solid black;
    font-family: Mart;
}


.right p{
margin:10px;
align-items: center;
}





.center>ul{
    display: flex;
    justify-content: space-evenly; 
    
}


.center>ul li {
    list-style-type: none;
    
}

.center>ul>li a{
    color:#382e2c;
    font-size: large;
    text-decoration:none;
  
}


.icon>ul>li a{
    color:#382e2c;
}



.renk{
    color:#382e2c;
}

.arrow a{
    padding-left:20px;
    color:#382e2c;
    text-decoration:none;
}

img{
    border:3px;
    border-color:#382e2c;
    border-style:solid;
  }


